# .gitignore

# ignore go build files
*.go.o
*.go.s

# ignore go test files
*_test.go
*_test.go.o
*_test.go.s

# ignore vendor directory
vendor/

# ignore node_modules directory
node_modules/

# ignore .env file
.env