# .gitignore

# ignore node_modules and yarn.lock
node_modules/
yarn.lock

# ignore go build files
*.go~

# ignore IDE temp files
*.iml
*.idea/
*.vscode/

# ignore Docker build files
docker-compose.yml
docker-compose.yaml
docker/

# ignore AWS credentials
.aws/

# ignore other stuff
*.log
*.tmp
*.cache
*.env
*.env.local