# ignore .env files
.env
# ignore node_modules
node_modules/
# ignore go build files
*.go~

# ignore go fmt files
*.gofmt
# ignore go mod files
go.mod
go.sum
# ignore go build cache
go-build/
go-cache/
# ignore docker files
docker/
docker-compose.yml
docker-compose.yaml
dockerignore
dockerignore.txt
# ignore .vscode files
.vscode/
# ignore .idea files
.idea/
# ignore .env files in subdirectories
*/.env
# ignore .env files in subdirectories
*/.env.txt